.row-1{
    background-color: #3d3e54;
    height: 70px;
}
.row-2{
    background-color: #7dbf9f;
}
.row-5{
    background-color: #7dbf9f;
}
.row-7.footer{
    background-color: #3d3e54;
}

.star::before,
.star::after {
    content: "";
    width: 60px;
    height: 2.68px;
    background-color: white;
    margin:0 10px;
}

.row-3 .star::before, 
.row-3 .star::after {
    background-color: black;
}
.row-5 .star::before, 
.row-5 .star::after {
    background-color: white;
    width: 40px;
}

.row-6 .star::before, 
.row-6 .star::after {
    background-color:black;
    width: 40px;
}

.form-control{
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
}
.form-floating>label {
    left: -15px;
}
.form-floating:focus-within>label{
    left:0;
}
